.collaborator-logos {
	[data-play-state="running"] :is(ul, li) {
		animation-play-state: running !important;
	}

	.container {
		mask: linear-gradient(90deg, transparent, black 15% 85%, transparent);
	}

	.blur div {
		position: absolute;
		inset: 0;
		z-index: var(--index);
		mask: linear-gradient(
			90deg,
			transparent calc(var(--index) * calc((100 / var(--blurs)) * 1%)),
			black calc((var(--index) + 1) * calc((100 / var(--blurs)) * 1%)),
			black calc((var(--index) + 2) * calc((100 / var(--blurs)) * 1%)),
			transparent
				calc((var(--index) + 3) * calc((100 / var(--blurs)) * 1%))
		);
		backdrop-filter: blur(calc((var(--index, 0) * var(--blur, 0)) * 2px));
	}

	/* The animation stuff */
	@media (prefers-reduced-motion: no-preference) {
		[data-translate="items"] ul {
			gap: 0;
		}
		[data-translate="items"][data-direction="horizontal"].container {
			padding-inline: 0;
		}

		[data-translate="items"] li {
			--duration: calc(var(--speed) * 1s);
			--delay: calc(
				(var(--duration) / var(--count)) * (var(--index, 0) * -1)
			);
			animation: slide var(--duration) var(--delay) infinite linear paused;
			translate: var(--origin-x) var(--origin-y);
		}

		[data-translate="items"][data-direction="horizontal"] li {
			--origin-x: calc(
				((var(--count) - var(--index)) + var(--inset, 0)) * 100%
			);
			--origin-y: 0;
			--destination-x: calc(
				calc((var(--index) + 1 + var(--outset, 0)) * -100%)
			);
			--destination-y: 0;
		}

		@keyframes slide {
			100% {
				translate: var(--destination-x) var(--destination-y);
			}
		}
	}
}
